{% layout 'password' %}

<div class="password container u-mb-template">
  <h2>{{ 'general.password_page.opening_soon' | t }}</h2>

  {% unless shop.password_message == blank %}
    <p>{{ shop.password_message }}</p>
  {% endunless %}

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password">Enter store using password:</label>
    <input type="password" name="password">
    <button type="submit">Enter</button>
  {% endform %}
</div>

