
<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
  <head>
    {%- include 'template-head' -%}
    {{ content_for_header }}
  </head>

  <body class="template-{{ template.name | handle }} layout--default">
    {%- include 'icon-store' -%}

    <div id="app" v-cloak>
      {%- section 'header' -%}

      <main role="main" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer' -%}
    </div>

    {%- include 'template-scripts' -%}
  </body>
</html>
